# perform Various imputation techniques for the missing values
mean-median imputation,
Arbitary value imputation,
Frequent category imputation,
Missing category imputation.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('/Users/ramu_verma/Downloads/Untitled Folder 1/Stress-Lysis.csv')
df

      Humidity  Temperature  Step_count  Stress_Level
0        21.33        90.33         123             1
1        21.41        90.41          93             1
2        27.12        96.12         196             2
3        27.64        96.64         177             2
4        10.87        79.87          87             0
...        ...          ...         ...           ...
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

[2001 rows x 4 columns]

In [7]:
df.head()

   Humidity  Temperature  Step_count  Stress_Level
0     21.33        90.33         123             1
1     21.41        90.41          93             1
2     27.12        96.12         196             2
3     27.64        96.64         177             2
4     10.87        79.87          87             0

In [24]:
m=df['Humidity'].mean() # mean() method returns the mean value of each numerical column in a DataFrame
m

20.0

In [13]:
df['Humidity'].fillna(m) # fillna()is a method in pandas that can be used to fill missing of null values in 
                                             #DataFrame of a series

0       21.33
1       21.41
2       27.12
3       27.64
4       10.87
        ...
1996    21.82
1997    10.45
1998    27.22
1999    12.46
2000    16.87
Name: Humidity, Length: 2001, dtype: float64

In [15]:
df['Humidity'].fillna(df['Humidity'].median())
# median() method from numpy module used to find the median of it.

0       21.33
1       21.41
2       27.12
3       27.64
4       10.87
        ...
1996    21.82
1997    10.45
1998    27.22
1999    12.46
2000    16.87
Name: Humidity, Length: 2001, dtype: float64

In [17]:
df['Humidity'].fillna(value=100)

0       21.33
1       21.41
2       27.12
3       27.64
4       10.87
        ...
1996    21.82
1997    10.45
1998    27.22
1999    12.46
2000    16.87
Name: Humidity, Length: 2001, dtype: float64

In [19]:
df['Humidity'].fillna(df['Humidity'].mode()[0])

0       21.33
1       21.41
2       27.12
3       27.64
4       10.87
        ...
1996    21.82
1997    10.45
1998    27.22
1999    12.46
2000    16.87
Name: Humidity, Length: 2001, dtype: float64

In [20]:
df.fillna(value='unknown')

      Humidity  Temperature  Step_count  Stress_Level
0        21.33        90.33         123             1
1        21.41        90.41          93             1
2        27.12        96.12         196             2
3        27.64        96.64         177             2
4        10.87        79.87          87             0
...        ...          ...         ...           ...
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

[2001 rows x 4 columns]