In [4]:
import pandas as pd
import numpy as np
df=pd.read_excel("/Users/ramu_verma/Documents/movies.xlsx",index_col=0)
df

   S no  Movie_name Ratings  Rating_new  encode
0     1      pathan  3 star           1       1
1     2   inception  5 star           3       3
2     3     titanic  4 star           2       2
3     4   spiderman  4 star           2       2
4     5  tube light  2 star           0       0

In [8]:
df['Rating_new']= df['Ratings'].cat.codes
df

AttributeError: Can only use .cat accessor with a 'category' dtype